$heading-color: #000000;
$black-color: #000000;
$white-color: #ffffff;
$body-color: #000000;
$text-secondary: #323132;
$text-color: #757575;
$body-light: #989898;
$bg-color: #e6e6e6;
$primary-color: #094009;
$primary-inactive: #a1ca9c;
$primary-light: #70ab6c;
$primary-xs-light: lighten(#98c295, 5%);
$primary-dark: darken($primary-color, 5%);
$secondary-color: #e4b148;
$secondary-dark: #dd9000;
$secondary-light: #f1d191;
$grey-color: #dedede;
$grey-light: #d7d7d7;
$grey-xs-light: #c0bfc4;
$sub-border: #e0e0e0;
// $border-color:#e6e6e6;
$border-color: #c0bfc4;
$border-dark: #c9c9c9;
$border-light: #e2e2e2;
$green-light: #e5f7e6;
$green-dark: #68973b;
$green-dark-light: #d0f9d2;
$blue-color: #00c3e6;
$blue-light: rgba($blue-color, 0.15);
$blue-dark-light: #cccaf9;
$blue-light-1: #c9ddf5;
$green-color: #4cbb17;
$orange-color: #ffaa00;
$purple-color: #673bb7;
$orange-light: rgba($orange-color, 0.15);
$red-color: #ff0000;
$red-light: rgba($red-color, 0.15);
$shadow-dark: #0000000d;
$shadow-light: #00000029;
