// .u-up{color:$positive-color !important;}
// .u-down{color:$negative-color !important;}
.u-clickable{cursor:pointer !important;}
.u-flex{display:flex !important;}
/** hide **/
.u-hide{display:none!important;}
// .u-mobile-hide{
//   @media #{$break1}, #{$break2}{
//      display:none!important;
//   }
// }
// .u-desktop-hide{
//   @media #{$break3open}{
//      display:none!important;
//   }
// }