@import "banner";
@import "logo";
@import "footer";
@import "work-procedure";
.section {
  padding: 80px 0;
  position: relative;

  @media #{$breakpoint-md} {
    padding: 60px 0;
  }

  &.is-light-bg {
    background: $body-color;
  }

  &.is-white {
    background-color: $white-color;
  }

  &.is-bg {
    background-color: $bg-color;
  }

  .section-shape {
    position: absolute;

    img {
      width: 95%;
      /*  @media #{$breakpoint-xs} {
        display: none;
      } */
    }

    &.is-opacity {
      opacity: 0.5;
    }

    &.is-top-right {
      top: 0;
      right: 0;
    }

    &.is-bottom-right {
      bottom: -50px;
      right: 0;
      @media #{$breakpoint-xl} {
        img {
          opacity: 0.2;
        }
      }
    }

    &.is-top-left {
      top: 0;
      left: 0;
    }

    &.is-bottom-left {
      bottom: 100px;
      left: 0;
    }
  }
}
